/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-image: url('../images/black-thread-light.png');
  background-repeat: repeat;
  font-family: 'Josefin Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* CONTENT */

.container {
  width: 1000px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}

.player-name {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

/* ACTIVE STYLES */

.active { background-color: #f7f7f7; }

.active .player-name::after {
    content: "\2666";
    font-size: 24px;
    position: absolute;
    color: #ff5c5c;
    right: 10px;
  }

  .active-dice {
  border: 2px solid #ff5c5c;
  border-radius: 5px;
  }

/* PLAYER INFO */

/* DICE STYLES */

.dice {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
}

.dice:hover{
  box-shadow: none;
  cursor: pointer;
}

.dice:not(.active-dice):hover {
border: 3px solid #ffbaba;
border-radius: 5px;
}

.dice-1 {
  top: 70px;
}

.dice-2 {
  top: 150px;
}

.dice-3 {
  top: 230px;
}

.dice-4 {
  top: 310px;
}

.dice-5 {
  top: 390px;
}

.dice-6 {
  top: 470px;
}

/* BUTTON STYLES */

.btn {
  color: #555;
  background: none;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
}

.btn-roll {
  width: 150px;
  height: 60px;
  font-size: 20px;
  display: block;
  margin: 30px auto;
  text-transform: uppercase;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 5px; }

button:focus {
  outline: none;
}

.btn-score {
  width: 80px;
  height: 40px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
}

.btn-new {
  width: 150px;
  height: 60px;
  font-size: 20px;
  display: block;
  margin: 30px auto;
  text-transform: uppercase;
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}

.btn-score:not(.used):hover {
  font-weight: 600;
}

/* The score option is already used */
.used {
  text-decoration: line-through;
}

.used:hover {
  font-weight: 300;
  cursor: not-allowed;
}


/* SCORE STYLES */

.score-info {
  width: 100%;
  display: flex;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
}

.score-num {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  width: 30%;
}

.score-left {
  width: 50%;
}

.score-right {
  width: 50%;
}

.score-category {
width: 100%;
padding: 0;
}
