/* GLOBAL */

:root {

  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-image: url('../images/black-thread-light.png');
  background-repeat: repeat;
  font-family: 'Josefin Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.hidden {
  visibility: hidden;
}

/* CONTENT */

.container {
  width: 1000px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 50px 100px;
}

.player-name {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

/* ACTIVE STYLES */

.active {
  background-color: #f7f7f7;
}

.active .player-name {
  font-weight: 400;
}

.active .player-name::after {
  content: "\2666";
  font-size: 24px;
  position: absolute;
  color: #ff5c5c;
  right: 10px;
}
.active .player-name::before {
  content: "\2666";
  font-size: 24px;
  position: absolute;
  color: #ff5c5c;
  left: 10px;
}

.active-dice {
  border: 2px solid #ff5c5c;
  border-radius: 5px;
}

/* PLAYER INFO */

.player-score {
  text-align: center;
}

.icon {
  display: block;
  margin: auto;
  text-align: center;
}

.fa-crown {
  color: gold;
}

.fa-tie {
  color: black;
}

.fa-trophy {
  color: gold;
}

.turns {
  display: flex;
  flex-direction: column;
  color: #ff5c5c;
  position: absolute;
  top: 193px;
}

.turns-0 {
  left: 115px;
}

.turns-1{
  right: 115px;
}

.roll-num {
  height: 25px;
}

/* DICE STYLES */

.dice {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
}

.dice:hover{
  box-shadow: none;
  cursor: pointer;
}

.dice:not(.active-dice):hover {
border: 3px solid #ffbaba;
border-radius: 5px;
}

.dice-1 {
  top: 110px;
}

.dice-2 {
  top: 190px;
}

.dice-3 {
  top: 270px;
}

.dice-4 {
  top: 350px;
}

.dice-5 {
  top: 430px;
}

/* BUTTON STYLES */

.btn {
  color: #555;
  background: none;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
}

.btn-roll {
  width: 150px;
  height: 60px;
  font-size: 20px;
  display: block;
  margin: 30px auto;
  text-transform: uppercase;
}

button:hover { font-weight: 600; cursor: pointer;}
button:hover i { margin-right: 5px; }

button:focus {
  outline: none;
}

.btn-score {
  width: 80px;
  height: 40px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
}

.btn-new {
  width: 150px;
  height: 60px;
  font-size: 15px;
  display: block;
  margin: auto;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.btn-score:not(.used):hover {
  font-weight: 600;
}

/* The score option is already used */
.used {
  text-decoration: line-through;
}

.used:hover {
  font-weight: 300;
  cursor: not-allowed;
}

.btn-rules {
  width: 150px;
  height: 60px;
  font-size: 15px;
  display: block;
  margin: auto;
  background: none;
  border: none;
  text-transform: uppercase;
  position: absolute;
  left: 10px;
  bottom: 0;
}


/* SCORE STYLES */

.score-info {
  width: 100%;
  display: flex;
  box-shadow: 0px 10px 50px rgba(194, 21, 47, 0.25);
}

.score-num {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  width: 30%;
}

.score-left {
  width: 50%;
}

.score-right {
  width: 50%;
}

.score-category {
  width: 100%;
  padding: 0;
}

/* START SCREEN */

.start-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  background-color: #691d2f;
  color: #fff;
  padding: 80px;
}

.start-screen input[type=text] {
  display: block;
  margin: 50px auto;
  width: 640px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
}

.start-screen form {
  margin: 20px 0;
}

.start-screen button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  border: 1px solid #691d2f;
  box-shadow: 5px 5px 0px rgb(122, 49, 66), 4px 4px 0px rgb(122, 49, 66), 3px 3px 0px rgb(122, 49, 66), 2px 2px 0px rgb(122, 49, 66), 1px 1px 0px rgb(122, 49, 66);
}
.start-screen button:hover {
  box-shadow: none;
  margin: 5px 0px 0 5px;

}

.copyright {
  position: absolute;
  right: 80px;
  bottom: 70px;
}

/* RULES POP UP */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #fff;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  box-shadow: 0px 10px 50px rgba(194, 21, 47, 0.25);
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  background: #fff;
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
  box-shadow: none;
}

.modal-header,
.modal-footer {
  background: var(--lightgray);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .close-modal {
  font-size: 1.5rem;
  border: none;
  background: none;
}

.modal p + p {
  margin-top: 1rem;
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(1);
}
